<% provide(:title, 'About') %>
<p>
  Site to help automate construction of mapes.
</p>
<p>
Questions, comments, bugs, & so on, contact:
<a href="mailto:john.ashmead@mapsndata.com">John Ashmead</a>
</p>

