<% provide(:title, "List Data Sources") %>

<table>
  <thead>
    <tr>
      <th>Map#</th>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @data_sources.each do |data_source| %>
      <tr>
        <td><%= data_source.map_id %></td>
        <td><%= data_source.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Data Source', new_data_source_path %>
