<% provide(:title, "Show Map") %>

<p>
  <strong>User:</strong>
  <%= @map.user_id %>
</p>

<p>
  <strong>Map type:</strong>
  <%= @map.map_type %>
</p>

<p>
  <strong>Name:</strong>
  <%= @map.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @map.description %>
</p>
