<%# final navbar will be: home, new, search, settings, help %>
  <nav>
    <ul>
      <li><%= link_to "Home",   home_path %></li>
      <% if signed_in? %>
        <li><%= link_to "New",   new_map_path %></li>
      <% end %>
      <li><%= link_to "Search",   maps_path %></li>
      <%= render 'layouts/settings' %>
    </ul>
  </nav>
